body {
    background: black;
    color: white;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

/* titolo principale */
h1 {
    font-size: 3.5rem;
    margin-top: 60px;
    margin-bottom: 40px;
    color:#3802cc;
}

/* sezioni titoli */
h3 {
    font-size: 2rem;
    color:#3802cc;
    margin-bottom: 30px;
    margin-top: 120px;
}

a {
    color: #3802cc;
}

section {
    margin-bottom: 50px;
}


/*PULSANTI SALVA E CREA */
button{
  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 999px;       
  background: linear-gradient(90deg, #3802cc, black);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.55);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

button:hover {
  background: linear-gradient(90deg, black, #3802cc);
  border-color: rgba(255, 255, 255, 0.75);
}

button.cestino {
    background: none;
    border: none;
}



/* TABELLE E CLASSIFICHE */
table {
    width: 100%;
    background: black;
    margin-bottom: 20px;
    border-radius: 10px;
    border-spacing: 0; 
    overflow: hidden; 
}

th {
    background: #3802cc;
    color: white;
    padding: 11px 14px;
    text-align: left;
    font-size: .85rem;
    text-transform: uppercase;
}


td {
    padding: 11px 14px; /*v e o*/
    border-bottom: 1px solid #222;
    border-right:1px solid #222; ;
}





/* CASELLE TESTO E SELECT */
input,
select {
    padding: 20px 18px;
    background: black;
    color: white;
    border: 1px solid #333;
    border-radius: 6px;
    margin-bottom: 60px;
    font-size:24px;
}

input{
    max-width: 196px;
}

input[type="text"]{
    margin-top: 30px;
}

input::placeholder {   /*:: x attributo, no tag*/
    color: white;
    font-size: 24px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);  
}




