body {
    background-color: rgba(246, 242, 242, 0.959);
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.intestazione {
     color: white;
    padding: 20px;
    text-align: center;
    flex-direction: row; 
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #3802cc;
    background-color:black;
}

.intestazione h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color:#3802cc;
    text-transform: uppercase;
}

.pulsStoria  a{
    margin-top: 30px;
    background-color: #3802cc;
    border: none;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    margin-right: auto;   
}

.pulsHome:hover{
    background-color: #493cd6;
}

.linkStoria {
    display: flex;
    flex-direction: row;    
    align-items: center;
    gap: 30px;
}

.linkStoria a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.linkStoria a:hover {
    color: #3802cc;
}

.sezione {
    background: white;
    max-width: 800px;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    text-align: center;   
    padding: 40px;
    border-radius: 10px;

}

.sezioneTot {
    margin: 30px auto; 
    max-width: 850px; 
    border-radius: 12px;
}

.sezioneTot:hover {
    border: 3px solid #3802cc; 
}
h2 {
    color: #2c3e50;
    border-bottom: 2px solid #3802cc;
    padding-bottom: 10px;
}

.successiTab {
    width: 100%;
    margin-top: 20px;
    tr:nth-child(even) {
    color: white;
    background-color: #3802cc;
    }
}

.successiTab th, .successiTab td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}




.statistiche{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 30px 0;
}

.ranking {
    background: #2c3e50;
    color: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    flex: 1;
    border-bottom: 4px solid #3802cc;
}

.coppe {
    background: #2c3e50;
    color: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    flex: 1;
    border-bottom: 4px solid #3802cc;
}


.tabellaItalia {
    width: 100%;
    margin-top: 20px;
    tr:nth-child(even) {
    color: white;
    background-color: #3802cc;
    }
}

.tabellaItalia th, .tabellaItalia td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}






