* { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
    font-family: arial;
}

/*header*/
.intestazioneAdmin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #0f0f1a;
    border-bottom: 2px solid #3802cc;
}

.sitoNome {
    font-size: 2rem;
    font-weight: 700;
    color: #3802cc;
    text-transform: uppercase;
}

.sitoNome a {
    color: #3802cc;
    text-decoration: none;
}



/* link */

.links a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    margin: 0 15px;
    font-size: 15px;
}

.links a:hover { 
    color: #3802cc;
 }

.links a.active {
    color: #3802cc; 
    font-weight: bold;
    border-bottom: 2px solid #3802cc; 
    padding-bottom: 5px;
}


.linkAdmin a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 15px;
    transition: 0.3s;
}

.linkAdmin a:hover {
    color: #3802cc;
}

.linkAdmin a.active {
    color: #3802cc !important; 
    font-weight: bold;
    border-bottom: 2px solid #3802cc; 
    padding-bottom: 5px;
}


/*utente*/
.salutoUtente { 
    color: white; 
    margin-right: 15px; 
    font-size: 1.5rem; 
}

.logout {
    color: #3802cc;
    border: 2px solid #3802cc;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    margin-left: 10px;
}

.logout:hover {
    background-color: #3802cc;
    color: white;
    transition: 0.3s;
    text-decoration: none;

}
