* { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
    font-family: Arial;
}


/* header */
.intestazioneProprietario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #0f0f1a;
    border-bottom: 2px solid #cc6802;
}

.sitoNome {
    font-size: 2rem;
    font-weight: 700;
    color: #cc6802;
    text-transform: uppercase;
}

.sitoNome a {
    color: #cc6802;
    text-decoration: none;
}




/* link */
.links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 15px;
    transition: 0.3s;
}

.links a:hover { 
    color: #cc6802;
    text-decoration: none;
}

.links a.active {
    color: #cc6802 ; 
    font-weight: bold;
    border-bottom: 2px solid #cc6802; 
    padding-bottom: 5px;
}

.linkProprietario a {
    color: white;
    text-decoration: none;
    margin: 0 15px; /*vert  orizzpx*/
    font-size: 15px;
    transition: 0.3s;
}

.linkProprietario a:hover {
    color: #cc6802;
    text-decoration: none;
}

.linkProprietario a.active {
    color: #cc6802; 
    font-weight: bold;
    border-bottom: 2px solid #cc6802; 
    padding-bottom: 5px;
}


/* utente */
.pulsantiUtente {
    display: flex;
    align-items: center;
}

.salutoUtente { 
    color: white; 
    margin-right: 15px; 
    font-size: 1.5rem; 
}

.badgeProprietario {
    font-size: 0.7rem;
    background-color: #cc6802;
    color: white;
    padding: 2px 8px; /*vert orizzpx*/
    border-radius: 10px;
    margin-left: 8px;
    vertical-align: middle; 
    text-transform: uppercase;
    font-weight: bold;
}

.logout {
    color: #cc6802;
    border: 2px solid #cc6802;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    margin-left: 10px;
}

.logout:hover {
    background-color: #cc6802;
    color: white;
    transition: 0.3s;
    text-decoration: none;
}