body {
    background-color: black; 
    color: white;
}

/* Header */
.centro {
    height: 100vh;
    min-height: 100vh;
    display: flex;
    background-image: url(sfondoHome.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed; 
    align-items: center; /*vert*/
    justify-content: center; /*orizz*/
}

.titoloCentro {
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 15px;
}

.centro h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
}

.centro p {
    font-size: 1.5rem;
}

.cont {
    padding: 60px 10%; 
}

.titoloServizi {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.servizi {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*2 col =spazio*/
    gap: 40px;
}

.servizio {
    background-color: #1f1e1e; 
    padding: 25px;
    border-radius: 10px;
}

.servizio h3 {
    color: #3802cc;
    margin-top: 0;
}

.servizio p {
    text-align: justify; 
    font-size: 0.95rem;
    color: #ccc;
}

.servizio b {
    color: #3802cc;
}

.infoExtra {
    margin-top: 15px;
    border-top: 1px dashed #444; 
    padding-top: 10px;
    font-size: 0.85rem;
    color: #aaa;
}