
body {
    background-color: black; 
    color: white;
    margin: 0;
    padding: 0;
}

.intestazione {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #1a1a1a;
    z-index: 1000;
    border-bottom: 2px solid #3802cc;
}

.titoloIntestazione {
    font-size: 2.5rem;
    font-weight: 700;
    color: #3802cc;
    text-transform: uppercase;
}

.titoloIntestazione span {
    font-size: 0.8rem;
    color: grey;
    margin-left: 5px;
}

.links a {
    color: white;
    text-decoration: none;
    margin:15px;
    font-weight: 600;
}

.links a:hover {
    color: #3802cc;
}

.pulsIntestazione a {
    padding: 8px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.login {
    color: #3802cc;
    border: 1px solid #3802cc;
}

.signup {
    background-color: #3802cc;
    color: black;
    margin-left: 10px;
}

.signup:hover {
    background-color: #0048ff;
}

.login:hover {
    background-color: #2e2e31;
}



.centro {
    height: 94vh;
    display: flex;
    background: url(sfondoHome.jpg) center/cover;
    align-items: center;
    justify-content: center;
}

.titoloCentro{
    text-align: center;
    background: #000000b3;
    padding: 40px;
    border-radius: 15px;
}

.centro h1 {
    font-size: 3.5rem;
    color: white;
    margin-bottom: 10px;
}

.centro p {
    font-size: 1.5rem;
    color: white;
}

.cont {
    padding: 60px 5%;
}

.titoloServizi {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.servizi {
    display: grid;
    gap:30px
}

.servizio {
    background: #282828;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    transition: 0.4s;
    border: 1px solid white;
}

.servizio:hover {
    transform: translateY(-10px);
    border-color: #3802cc;
}

.servizio a {
    display: block;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.servizio a:hover {
    color: #3802cc;
}

.footer {
    text-align: center;
    padding: 30px;
    background: rgba(26, 26, 26, 0.492);
    color: #666;
}