body {
    background-color: rgba(246, 242, 242, 0.475);
    margin: 0;
    padding: 0;
}

.intestazione {
    color: white;
    padding: 20px;
    text-align: center;
    flex-direction: row; 
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #3802cc;
    background-color:black;
}

.intestazione h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color:#3802cc;
    text-transform: uppercase;
}

.linkShop {
    display: flex;
    flex-direction: row;    
    align-items: center;
    gap: 30px;
}

.linkShop a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.linkShop a:hover {
    color: #3802cc;
}

.pulsanteShop a {
    margin-top: 30px;
    background-color: #3802cc;
    border: none;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
}

.pulsHome:hover{
    background-color: #493cd6;
}

.presentazioneMercato{
  text-align: center;
  background-color: #63616923;
  padding: 50px;
  margin-bottom: 100px;
}

.presentazioneMercato p{
  font-size: 30px;
}

.presentazioneMercato h1{
  font-size: 50px;
}


.prodottiSezione {
    max-width: 1200px;
    margin: 40px auto;
}

.prodottiSezione h2 {
    border-left: 5px solid #3802cc;
    padding-left: 15px;
    margin-bottom: 30px;
    color: #3802cc;
    font-size: 1.8rem;
}


#prodottiGenerali, #prodottiPortiere, #prodottiGiocatoriMovimento {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
    gap: 30px;
    margin-bottom: 60px;
}

.prodottiSezione h2 {
    grid-column: 1 / -1;
}

.prodotto {
    background: white;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prodotto:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.prodotto img {
    width: 100%;
    height: 200px;
    object-fit: cover; 
    border-radius: 8px;
    margin-bottom: 15px;
}

.prodotto h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.prodotto p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
}

.prodotto h4 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #27ae60;
    margin: 10px 0;
}

.prodotto button {
    background-color: transparent;
    color: #3802cc;
    border: 2px solid #3802cc;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.prodotto button.attivo {
    background-color: #3802cc !important;
    color: white !important;
}

.prodotto button:hover {
    background-color: #3802cc;
    color: white;
}

