body {
    background-color: #f0f2f5;
    color: #333;
}

.presentazioneCampi {
    text-align: center; 
    padding: 80px;
    background: linear-gradient(135deg, #3802cc 0%, #1a014d 100%);
    color: white;
}

.presentazioneCampi h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    text-transform: uppercase; 
}

.presentazioneCampi p {
    font-size: 20px;
}

.linkPalazzetti {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 30px auto 0;  /* alto dx sx basso*/
    max-width: 1600px;
}

.linkPalazzetti a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 20px;
    border: 2px solid #ffffff33;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.1);
}

.linkPalazzetti a:hover {
    background: white;
    color: #3802cc;
    transform: translateY(-5px);
}

.campiSezione {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1100px;
    margin: 0 auto;  
    padding: 0 20px; /*dx sx*/
}

.campiSezione h2 {
    border-left: 6px solid #3802cc;
    padding-left: 15px;
    color: #3802cc;
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 5px;
}

.provincia {
    font-size: 20px;
    text-transform: uppercase;
    color: #888;
    border-left: 4px solid #d0c8f5;
    padding-left: 12px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.campo {
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    transition: 0.3s ease;
    margin-top: 10px;
}

.campo:hover {
    transform: translateY(-8px);
}

.campo h3 {
    text-align: center; 
}

.campo p {
    margin-bottom: 8px;
    font-size: 16px;
}

.campo strong {
    color: #3802cc;
}

.campo iframe {
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
}

.info {
    margin-top: 15px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.info p {
    margin-top: 10px;
    font-size: 15px;
    color: #555;
}
